 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/embeddecover1.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 700px;
}

.u-section-1 .u-text-1 {
  line-height: 3;
  font-size: 1.875rem;
  --animation-custom_in-scale: 1;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 6rem;
  line-height: 1;
  background-image: none;
  font-weight: normal;
  --animation-custom_in-scale: 1;
  margin: 0 24px;
}

.u-section-1 .u-btn-1 {
  font-size: 1.25rem;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 0;
  padding: 10px 49px 10px 48px;
}

.u-section-1 .u-btn-2 {
  font-size: 1.25rem;
  border-style: solid;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 34px auto 60px;
  padding: 11px 55px 11px 54px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 442px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 332px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 209px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 686px;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  width: 702px;
  margin: 49px auto 0;
}

.u-section-2 .u-image-1 {
  width: 370px;
  height: 370px;
  margin: 39px auto 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 2;
  font-size: 1.125rem;
  margin: -370px 0 0 400px;
}

.u-section-2 .u-line-1 {
  width: 912px;
  margin: 75px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 200px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-line-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    width: 540px;
  }

  .u-section-2 .u-line-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-image-1 {
    width: 340px;
    height: 340px;
  }

  .u-section-2 .u-line-1 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1454px;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 49px 0 0;
}

.u-section-3 .u-text-2 {
  line-height: 2;
  font-size: 1.5rem;
  width: 501px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 100px;
  margin: 17px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto auto;
  margin: 0 607px 60px 32px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 9.33333px) calc(33.3333% - 9.33333px) calc(33.3333% - 9.33333px);
  grid-gap: 14px 14px;
  min-height: 994px;
}

.u-section-3 .u-list-item-1 {
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 15px 17px;
}

.u-section-3 .u-image-1 {
  width: 154px;
  height: 144px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-3 {
  background-image: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 15px 7px 0;
}

.u-section-3 .u-text-4 {
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 6px 13px 0;
}

.u-section-3 .u-list-item-2 {
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 15px 17px;
}

.u-section-3 .u-image-2 {
  width: 154px;
  height: 144px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-5 {
  background-image: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 15px 7px 0;
}

.u-section-3 .u-text-6 {
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 6px 13px 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 15px 17px;
}

.u-section-3 .u-image-3 {
  width: 154px;
  height: 144px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-7 {
  background-image: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 15px 7px 0;
}

.u-section-3 .u-text-8 {
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 6px 13px 0;
}

.u-section-3 .u-list-item-4 {
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 15px 17px;
}

.u-section-3 .u-image-4 {
  width: 154px;
  height: 144px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-9 {
  background-image: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 15px 7px 0;
}

.u-section-3 .u-text-10 {
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 6px 13px 0;
}

.u-section-3 .u-list-item-5 {
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 15px 17px;
}

.u-section-3 .u-image-5 {
  width: 154px;
  height: 144px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-11 {
  background-image: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 15px 7px 0;
}

.u-section-3 .u-text-12 {
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 6px 13px 0;
}

.u-section-3 .u-list-item-6 {
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-6 {
  padding: 15px 17px;
}

.u-section-3 .u-image-6 {
  width: 154px;
  height: 144px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-13 {
  background-image: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 15px 7px 0;
}

.u-section-3 .u-text-14 {
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 6px 13px 0;
}

.u-section-3 .u-list-item-7 {
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-7 {
  padding: 15px 17px;
}

.u-section-3 .u-image-7 {
  width: 154px;
  height: 144px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-15 {
  background-image: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 15px 7px 0;
}

.u-section-3 .u-text-16 {
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 6px 13px 0;
}

.u-section-3 .u-list-item-8 {
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-8 {
  padding: 15px 17px;
}

.u-section-3 .u-image-8 {
  width: 154px;
  height: 144px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-17 {
  background-image: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 15px 7px 0;
}

.u-section-3 .u-text-18 {
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 6px 13px 0;
}

.u-section-3 .u-list-item-9 {
  --animation-custom_in-translate_y: 200px;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-9 {
  padding: 15px 17px;
}

.u-section-3 .u-image-9 {
  width: 154px;
  height: 144px;
  margin: 16px auto 0;
}

.u-section-3 .u-text-19 {
  background-image: none;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin: 15px 7px 0;
}

.u-section-3 .u-text-20 {
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 6px 13px 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 9.33333px));
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 6.9999975px));
    min-height: 2542px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-12 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-13 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-14 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-15 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-16 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-17 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-18 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-19 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-20 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 784px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 100px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 46px 0 0 20px;
}

.u-section-4 .u-image-1 {
  width: 969px;
  height: 572px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-scale: 1;
  --animation-custom_in-translate_y: 200px;
  margin: 44px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 767px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-image-1 {
    width: 940px;
    height: 555px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-4 .u-image-1 {
    width: 720px;
    height: 425px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 319px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 413px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 201px;
  }
}